<table style="width: 100%; height: 100%;" [ngStyle]="{background: 'url(../assets/images/banner.webp' + ')'}">
	<tr style="width: 100%; height:40%;">
		<!-- Header Section -->
		<td style="height: 1200;"><app-header></app-header></td>
	</tr>
	<tr style="width: 100%; height:50%;">
		<!-- Main Body -->
		<td>
			<table style="width: 100%; height:100%;">
				<tr style="width: 100%; height:100%;">
					<!-- Left Menu -->
					<td>
					<div style="color: yellow; background-color: green;"><h2>MENU</h2></div>
						<table style="width: 100%; height:100%;">
							<tr>
								<td>
									<!-- Global Menu --> <app-global></app-global>
								</td>
							</tr>
							<tr>
								<td>
									<!-- Account Menu --> <app-account></app-account>
								</td>
							</tr>
						</table>
				</td>
				<!-- Right Menu -->
				<td>
					<table style="width: 75%; height:100%;">
						<tr style="height: 100%">
							<!-- Content Section -->
							<td><div class="container"><router-outlet></router-outlet></div></td>
						</tr>
					</table>
				</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="height: 10%;">
		<!-- Footer Section -->
		<td><app-footer></app-footer></td>
	</tr>
</table>
