
  <div style="color: yellow; background-color: green;">
  <h2>Manage Hero Types</h2>
  <h3>List of Hero Types</h3>
  <ul>
    <li *ngFor="let hero of heroTypes">{{hero}}</li>
  </ul>
<h3>Add a new Hero Type</h3>
<form>
    <div class="form-group">
      <label class="col-md-4">Enter Hero Type:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Hero Type</button>
    </div>
</form>
<!--
<form [formGroup]="addHeroTypeForm" novalidate>
  <div>
    <label for="Type">Enter Hero Type:</label>
    <input type="text" class="form-control"
          formControlName="Type"
          #Herotype />
  </div>
  <div class="form-group">
        <button (click) = "addHeroType(Herotype.Type)" type="submit" class="btn btn-primary"
        [disabled]="addHeroTypeForm.pristine || addHeroTypeForm.invalid" >
          Create Hero Type
        </button>
  </div>
</form>
-->
</div>
